@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/regular/lato-regular.eot");
  src: url("../fonts/lato/bold/lato-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/regular/lato-regular.woff2") format("woff2"), url("../fonts/lato/regular/lato-regular.woff") format("woff"), url("../fonts/lato/regular/lato-regular.ttf") format("truetype");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/bold/lato-bold.eot");
  src: url("../fonts/lato/bold/lato-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/bold/lato-bold.woff2") format("woff2"), url("../fonts/lato/bold/lato-bold.woff") format("woff"), url("../fonts/lato/bold/lato-bold.ttf") format("truetype");
  font-display: swap;
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy/extrabold/gilroy-extrabold.eot");
  src: url("../fonts/gilroy/extrabold/gilroy-extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/extrabold/gilroy-extrabold.woff2") format("woff2"), url("../fonts/gilroy/extrabold/gilroy-extrabold.woff") format("woff"), url("../fonts/gilroy/extrabold/gilroy-extrabold.ttf") format("truetype");
  font-display: swap;
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy/regular/gilroy-regular.eot");
  src: url("../fonts/gilroy/regular/gilroy-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/regular/gilroy-regular.woff2") format("woff2"), url("../fonts/gilroy/regular/gilroy-regular.woff") format("woff"), url("../fonts/gilroy/regular/gilroy-regular.ttf") format("truetype");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Gilroy';
  font-weight: bold;
}

p, span, li {
  font-family: 'Lato';
}

a {
  font-family: 'Lato';
  color: #303030;
  text-decoration: underline;
  -webkit-text-decoration-color: #320b86;
          text-decoration-color: #320b86;
}

.container {
  max-width: 1110px !important;
}

.primary-btn {
  background-color: #ffe54c;
  color: #303030;
  font-weight: bold;
  font-family: 'Gilroy';
  padding: 5px 20px;
}

.primary-btn:hover {
  background-color: white;
  color: #303030;
}

.secondary-btn {
  background-color: #673ab7;
  color: white;
  font-weight: bold;
  font-family: 'Gilroy';
  font-size: 18px;
  line-height: 22px;
  border-radius: 8px;
  padding: 5px 20px;
}

.secondary-btn:hover {
  background-color: white;
  color: #673ab7;
}

header {
  background-color: #ffe54c;
}

.header {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-title {
  font-size: 25px;
  line-height: 31px;
}

.header__nav {
  max-width: 540px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav-link {
  font-family: 'Gilroy';
  font-size: 18px;
  line-height: 21px;
  text-decoration: none !important;
}

@media (max-width: 960px) {
  .header__nav {
    display: none;
  }
}

@media (max-width: 560px) {
  .header-button {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */