@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/regular/lato-regular.eot");
  src: url("../fonts/lato/bold/lato-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/regular/lato-regular.woff2") format("woff2"), url("../fonts/lato/regular/lato-regular.woff") format("woff"), url("../fonts/lato/regular/lato-regular.ttf") format("truetype");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/bold/lato-bold.eot");
  src: url("../fonts/lato/bold/lato-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/bold/lato-bold.woff2") format("woff2"), url("../fonts/lato/bold/lato-bold.woff") format("woff"), url("../fonts/lato/bold/lato-bold.ttf") format("truetype");
  font-display: swap;
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy/extrabold/gilroy-extrabold.eot");
  src: url("../fonts/gilroy/extrabold/gilroy-extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/extrabold/gilroy-extrabold.woff2") format("woff2"), url("../fonts/gilroy/extrabold/gilroy-extrabold.woff") format("woff"), url("../fonts/gilroy/extrabold/gilroy-extrabold.ttf") format("truetype");
  font-display: swap;
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy/regular/gilroy-regular.eot");
  src: url("../fonts/gilroy/regular/gilroy-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/regular/gilroy-regular.woff2") format("woff2"), url("../fonts/gilroy/regular/gilroy-regular.woff") format("woff"), url("../fonts/gilroy/regular/gilroy-regular.ttf") format("truetype");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Gilroy';
  font-weight: bold;
}

p, span, li {
  font-family: 'Lato';
}

a {
  font-family: 'Lato';
  color: #303030;
  text-decoration: underline;
  -webkit-text-decoration-color: #320b86;
          text-decoration-color: #320b86;
  -webkit-text-decoration-style: 2px;
          text-decoration-style: 2px;
}

h5 {
  font-size: 25px;
  line-height: 31px;
}

h3 {
  font-size: 30px;
  line-height: 37px;
  color: #320b86;
  margin-bottom: 40px;
}

.container {
  max-width: 1110px !important;
}

.container-fluid {
  padding: 0;
}

.primary-btn {
  background-color: #ffe54c;
  color: #303030;
  font-weight: bold;
  font-family: 'Gilroy';
  font-size: 18px;
  line-height: 22px;
  border-radius: 8px;
  padding: 5px 20px;
}

.primary-btn:hover {
  background-color: white;
  color: #303030;
}

.secondary-btn {
  background-color: #673ab7;
  color: white;
  font-weight: bold;
  font-family: 'Gilroy';
  font-size: 18px;
  line-height: 22px;
  border-radius: 8px;
  padding: 5px 20px;
}

.secondary-btn:hover {
  background-color: white;
  color: #673ab7;
}

@media (max-width: 768px) {
  h3 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
  }
}

header {
  background-color: #ffe54c;
}

.header {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-title {
  font-size: 25px;
  line-height: 31px;
}

.header__nav {
  max-width: 540px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav-link {
  font-family: 'Gilroy';
  font-size: 18px;
  line-height: 21px;
  text-decoration: none !important;
}

@media (max-width: 960px) {
  .header__nav {
    display: none;
  }
}

@media (max-width: 560px) {
  .header-button {
    display: none;
  }
}

.hero {
  padding-top: 80px;
  padding-bottom: 40px;
  max-width: 539px;
  width: 100%;
  z-index: -1;
}

.hero-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-size: 34px;
  line-height: 42px;
}

.hero-subtitle {
  text-decoration: underline;
  -webkit-text-decoration-color: #320b86;
          text-decoration-color: #320b86;
  text-decoration-thickness: 2px;
  margin-bottom: 30px;
}

.hero-list {
  padding: 0;
}

.hero-list__item {
  margin-bottom: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.hero-list__item-icon {
  display: table;
  padding: 13px;
  border-radius: 50%;
  border: 2px solid #ffb300;
}

.hero-list__item-text {
  color: black;
  font-size: 16px;
  line-height: 19px;
  margin-left: 30px;
}

@media (max-width: 560px) {
  .hero {
    padding-top: 30px;
  }
  .hero-title {
    font-size: 32px;
    line-height: 35px;
  }
  .hero-subtitle {
    margin-bottom: 20px;
  }
  .hero-list__item-text {
    margin-left: 15px;
  }
}

.skills {
  margin-top: 75px;
}

.skills-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.skills-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills-list__item {
  -webkit-box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  width: 255px;
  height: 106px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}

@media (max-width: 1120px) {
  .skills-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 560px) {
  .skills-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 0px;
  }
  .skills-list__item {
    margin-bottom: 30px;
  }
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eee;
}

.services-c {
  margin-top: 75px;
}

.services-img {
  width: 50%;
}

.services-block {
  max-width: 550px;
  margin-left: 110px;
}

.services-block-b {
  text-align: right;
  max-width: 550px;
  margin-right: 110px;
}

.services-title {
  margin-bottom: 30px;
}

.services-text {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 30px;
}

.services-b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #eee;
}

@media (max-width: 1500px) {
  .services-title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .services-text {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
  }
  .services-price {
    font-size: 20px;
  }
}

@media (max-width: 1279px) {
  .services {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services-b {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .services-img {
    width: 100%;
  }
  .services-block {
    margin-left: 0;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .services-block-b {
    margin-right: 0;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .services-title {
    font-size: 25px;
    margin-bottom: 30px;
  }
  .services-price {
    font-size: 25px;
  }
  .services-text {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .services-block {
    width: 95%;
  }
  .services-block-b {
    width: 95%;
  }
  .services-title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .services-text {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .services-price {
    font-size: 20px;
  }
}

@media (max-width: 540px) {
  .services-block {
    margin: 20px 0;
  }
  .services-block-b {
    margin: 20px 0;
  }
}
/*# sourceMappingURL=main.css.map */