header
    // background-color: $primarylight
    background-color: $white
    padding-top: 20px
.header
    & navbar
        padding: 20px 0
        display: flex
        justify-content: space-between
        align-items: center
    &-title
        font-family: 'Gilroy'
        font-weight: bold
        text-decoration: none
        font-size: 25px
        line-height: 31px
        text-transform: uppercase
        letter-spacing: 0.1em
        margin-right: 30px
        &:hover
            text-decoration: none
            color: $black
        & span
            font-family: 'Gilroy'
            font-weight: bold
            color: $primarylight
    &-nav
        max-width: 540px
        width: 100%
        display: flex
        justify-content: space-between
        &__link
            font-family: 'Gilroy'
            font-size: 18px
            line-height: 21px
            text-decoration: none !important
.navbar
    padding: 0
    display: flex
    justify-content: space-between
    &-collapse
        justify-content: space-evenly
@media (max-width: 1200px)
    .navbar
        &-collapse
            display: flex
            flex-direction: column
    .header
        &-nav
            padding: 20px 0
        &-button
            display: none
@media (max-width: 500px)
    .header
        &-nav
            flex-direction: column
            text-align: center
            & a:not(:last-child)
                margin-bottom: 20px
                