.modal 
    &-content
        padding: 30px
        border-radius: 15px
    &-card
        max-width: 355px
        box-shadow: none
    &__title
        text-align: center
        font-size: 24px
        line-height: 37px !important
        margin-bottom: 50px
    &-block
        max-width: 398px
    &-btn
        margin-top: 10px
        padding: 4px 16px  
        &__text
            font-size: 16px
            line-height: 22px
            margin-bottom: 0px
.order-modal
    position: relative
    display: flex
    align-items: baseline
    justify-content: space-around
    &::after
        content: url(../img/modal/or.png)
        position: absolute
        top: -30px
.partners-modal
    max-width: 800px
    &-body
        margin-left: auto
        margin-right: auto
        max-width: 322px !important
@media (max-width: 1200px)
    .order-modal
        &::after
            content: url(../img/modal/or-mob.png)
            top: 367px
            max-width: 100%
            left: -17px
    .modal
        &-block
            margin-bottom: 50px
@media (max-width: 991px)
    .order-modal
        &::after
            content: url(../img/modal/or-mob-sm.png)
@media (max-width: 768px)
    .order-modal
        &::after
            content: url(../img/modal/or-mob-sm.png)
            top: 400px
@media (max-width: 576px)
    .order-modal
        &::after
            content: ''
    .modal
        &-block
            margin: 0px
        &-card
            &-wrap
                padding: 0