.partners
    &-section
        background-color: $gray
    &-title
        text-align: center
    &-block
        display: flex
        justify-content: space-between
        &-img
            border-radius: 8px
            max-width: 445px
            width: 100%
    &-container
        margin-left: 29px
        max-width: 636px
        &__subtitle
            max-width: 530px
            color: $black
            font-size: 20px
            line-height: 29px
        &__text
            font-size: 18px
            line-height: 24px
            margin-bottom: 20px
        &__button
            padding: 10px 20px
    &-list
        display: flex
        flex-direction: column
        justify-content: center
        list-style-type: none
        padding: 0
        &__item
            display: flex
            align-items: center
            margin-bottom: 25px
            &-counter
                background-color: $white
                border: 3px solid $primary
                border-radius: 50%
                width: 90px
                height: 90px
                margin-right: 25px
                &__num
                    font-family: "Gilroy"
                    font-weight: bold
                    font-size: 50px
                    color: $realblack
                    text-align: center
                    padding: 2px 0px
    
@media (max-width: 1200px)
    .partners
        &-block
            &-img
                display: none